:root {
    --primary-color: #520285;
    --secondary-color: #ce85fc;
    --tertiary_color: #fff3eb;
    --header-color: #fee5d1;
    --footer-color: #bc94d6;
}

* {
    font-family: "Quicksand", serif;
}

body {
    background-color: var(--tertiary_color);
}

main {
    min-height: 100vh;
}